@import url(../../blocks/movies/movies.css);
@import url(../../blocks/nothing-found/nothing-found.css);
.movies__message{
    width: 100%;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px
}