.movie__time{
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right; 
    color: #8B8B8B;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 320px){
    .movie__time{
        font-size: 10px;
    }
 }