.form__input-error{
    width: 100%;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    margin-top: 10px;
    display: flex;
    color: #FF004C;
}