.auth-form__input{
    border: 0;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 10px;
    background: #2F2F2F;
    border-radius: 8px;
    padding: 15px;
}
.auth-form__input:focus{
    border: 1px solid #424242;
}
