.profile-form__field{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    border-bottom: 1px solid #424242;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 17px;
    padding-bottom: 16px;
}
.profile-form__field:last-of-type{
    border-bottom: 0;
}