.movie__image{
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 18px 0;
    padding: 0;
}
@media screen and (max-width: 320px) {
    .movie__image{
        margin: 14px 0;
    }
}