@media screen and (max-width: 768px) {
    .header__link-bar{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 28px;
    }
    .header__link-bar:last-of-type{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 320px) {
    .header__link-bar{
        margin-bottom: 24px;
    }
}