.popup__container{ 
   width: 520px;
   height: 100%;
   display: flex;
   flex-direction: column;
   background-color: #202020;
   box-sizing: border-box;
   padding: 160px 0 90px;
   margin: 0;
   z-index: 1;
}
