.auth-form__button{
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    margin-top: 70px;
    padding: 14px 0 15px;
    background-color: #4285F4;
    border-radius: 3px;
}
