.header-main{
    background-color: #073042;
    padding: 0 70px;
}
@media screen and (max-width: 768px) {
    .header-main{
        padding: 0 30px;
    }
}

@media screen and (max-width: 320px) {
    .header-main{
        padding: 0 10px;
    }
}