.about-me__avatar{
    width: 270px;
    height: 327px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 600px) {
    .about-me__avatar{
        width: 292px;
        height: 352px;
        margin: 0;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 320px) {
    .about-me__avatar{
        width: 100%;
        height: none;
    }
}