.about-project__period-title{
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 9px 0;
}
@media screen and (max-width: 320px) {
    .about-project__period-title{
        font-size: 11px;
        line-height: 13px;
    }
}