.auth-form{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
}
@media screen and (max-width: 320px) {
    .auth-form{
        align-items: center;
    }
}